<head>
        <title>index html</title>
    </head>
    <body>
    
        <div id="map" style="width:500px;height:400px;"></div>
        <script>
            var container = document.getElementById("map");
            var mapOption = {
                center: [35.896205,128.622019],
                level: 3
            };
            var map = new own.DaumMap(container, mapOption);//지도 초기화
            
            var markerOption={
                position: [35.896205,128.622019]
            };
            
            var marker1 = new own.Marker(markerOption);//마커객체생성
            marker1.map(map);
        </script>
        
    </body>