<style>
            ul{list-style:none;list-style:none;padding-left:0px;} 
            #currentTemp {font-size:32pt;font-weight:bold;text-align:left;}
            #itemList {font-size:32pt;font-weight:bold;text-align:left;}
            #itemList3 {font-size:32pt;font-weight:bold;text-align:left;}
            #weatherActivity ul,
            #weatherActivity li,
            #weatherActivity img{-webkit-filter:invert(100%);}
</style>
<h2>현재날씨</h2>
	<ul id="currentTemp"></ul>
        <ul id="currentTemp2"></ul>
        <ul id="currentTemp3"></ul>
	<h2>오늘날씨</h2>
	<ul id="itemList"></ul> 
	<h2>이번주날씨</h2>
	<ul id="itemList3"></ul>
	
    <script>
    </script> 