<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <style>
            #list{
                width: 20%;
                height: 30%;
                overflow: auto;

            }
            #head{
                text-align: left;
                margin-top: 5%;
            }
        </style>
    </head>
    <body> 
        <div id='head'>
            <header>
                <h1>재생 목록</h1>
            </header>
            <div id='list'>
                <table width="100%" style="border: solid 1px;" id='list_table'>
                    <tr>
                        <td>

                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <script>
            console.log('뜨나욧');
        </script>


    </body>
</html>
