<style>
    #mapsActivity{
        height: 100%;
        margin: 0;
        padding: 0;
        color:black;
    }

    #map-canvas
    {
        height: 550px;
        width: 1150px;
        margin-left: 100px;
    }

    #panel {
        top: 5px;
        left: 700px;
        height:60px;
        width: 1075px;
        background-color: #fff;
        margin-top:80px;
        margin-left:100px;
        color:black;
        font-size:1em;
        padding-top:30px;
        padding-left:75px;
    }
    #mapsActivity #currentTemp{font-size:15pt;font-weight:bold;text-align:left;}
    #mapsActivity img{vertical-align: middle;}
</style>
<div id="panel" >
    <b>장소검색: </b>
    <input id="address" type="text" value="">
    <input id="submit" type="button" value="장소검색">
    <b>출발: </b>
    <input type="text" id="start" />
    <b>도착: </b>
    <input type="text" id="end" />
    <input id="mapsearch" type="submit" value="길찾기"/>
    <!--<input id="weatherbtn" type="submit" value="날씨앱"/>-->
    <span id="currentTemp"></span>
</div>
<div id="map-canvas"></div>
