<!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js" ></script>-->
<style type ="text/css">
    #main {
        width: 100%;
        height: 100%;
        background-color: black;
    }

    #hot {
        margin-left: 5%;
        margin-top: 9%;
        width: 90%;
        height: 65%;
        background-color: black;
    }

    #hotimg {
        width: 540px;
        height: 100%;
/*        background-size: cover;*/
        right: -33%;
        position: relative;
        z-index: 1;
    }

    #hottitle {
        width: 65%;
        height: 100%;
        float: left;
        position: relative;
    }

    h1 {
        z-index: 3;
        position: relative;
        margin-bottom: -5%;
        display: inline-block;
        width: 80%; 
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #hh {
        position: fixed; 
        left: 0px; 
        z-index: 1;       
        position: relative;
        color: white; width: 100%;
        opacity: 0.98; font-weight: bold;
    }

    #newsActivity img {
        width: 110%;
        height: 100%;
        z-index: 2;
        position: relative;
        margin-bottom: -65%;
        top: -150px;
    }

    a {
        text-decoration: none; color: white;
    }

    ul {
        z-index: 2;
        position: relative;
        margin-left: 7%;
        margin-top: 5%;
        font-size: 15px;
        list-style:none;
    }
    
    li {
        margin-top: 3%;
        margin-left: -6%;
    }
    
</style>

<!--<div id="hh"> <marquee> <a href= "https://namu.wiki/w/%EB%84%88%EA%B5%AC%EB%A6%AC" target="_blank">
            ▶ 너구리는 개과의 포유동물이다.    
            ▶ 너구리속에 속하며 학명은 Nyct­ereutes procyonoides이다.    
            ▶ 몸길이 50-68㎝, 꼬리길이 13-20㎝로 몸통은 여우보다 작고 살이 쪘으며 다리는 비교적 짧고 입끝이 뾰족하다.  
            ▶ 귓바퀴는 작고 둥글며 꼬리는 굵고 짧다.  
            ▶ 몸빛깔은 대체로 검은색에 가깝고 등의 가운데선의 띠, 눈 밑의 반점, 앞다리의 띠는 검은색이 더욱 짙다.  
            ▶ 털은 길어서 등의 긴털은 9㎝나 된다.  
        </a> </marquee>
</div>-->

<div id="main">

    <div id="hot">
        <div id="hottitle">
            <h1><a href="" target="_blank"></a></h1>
            <img src="./res/drawable/news_images/back.png">
            <ul>
                <li></li>
            </ul>
        </div>
        <div id="hotimg" ></div>
    </div>

</div>