<style>
    
    #moveLearn {
        display: table;
        padding: 170px 0;
        height: 100%;
        margin: 0 auto;
    }
    
    #moveLearn > * {
        display: table-cell;
        vertical-align: top;
    }
    
    #moveLearn > *:first-child {
        min-width: 450px;
        padding: 20px 60px 0;
    }
    
    #moveLearn > *:first-child h1 {
        font-size: 50px;
        margin: 0 0 20px;
    }
    
    #moveLearn > *:first-child p {
        font-size: 25px;
    }
    
    
    #moveLearn > *:nth-child(3) > div {
        width: 150px;
        height: 150px;
        background: red;
        float: left;
        margin: 30px;
    }
    
    #moveLearn > *:nth-child(3) {
        padding: 20px 60px 0;
    }
    
    #moveLearn > *:nth-child(3) > div:nth-child(3n+1){
        clear:left
    }
    
    #moveLearn .target {
        background-color: blue !important;
    }
    
</style>
<div id="moveLearn">
    
    <div>
        <h1>1단계, 무빙</h1>
        <p>
            오른손을 팔꿈치 위까지 들어 커서모드를<br/>
            시작할 수 있습니다.<br/>
            <br/>
            오른손을 다시 아래로 내릴경우<br/>
            커서모드가 해제됩니다.
        </p>
    </div>
    
    <div style="
        width: 2px;
        background: white;"></div>
    
    <div>
        
        <div></div>
        <div></div>
        <div></div>
        
        <div></div>
        <div></div>
        <div></div>
        
        <div></div>
        <div></div>
        <div></div>
        
    </div>
</div>