<style>
    #mapsActivity body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map-canvas
    {
        height: 650px;
        width: 650px;
    }

    #panel {
        top: 5px;
        left: 700px;
        height:50px;
        width: 650px;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
    }
    #mapsearch{}
</style>
<div id="panel" >
    <b>Start: </b>
    <input type="text" id="start" />
    <b>End: </b>
    <input type="text" id="end" />
    <div>
        <input id="mapsearch" type="button" value="길찾기"/>
    </div>
</div>
<div id="map-canvas"></div>