<style>
#youtubeActivity {
    padding: 0;
    margin: 0;
    height:450%;
}
#youtubeActivity body{
    font-family: 'Segoe' ,sans-serif;
    line-height: 1.6em;
    color: #666;
    font-size: 14px;
}
#youtubeActivity a{
    color: #fff;
    text-decoration: none;
}
#youtubeActivity #container{
    width: 1000px;
    margin: 0px;
}
#youtubeActivity .clearfix{
    clear: both;
}
#youtubeActivity header{
    padding: 30px 20px;
    background: #f4f4f4;
}
#youtubeActivity header h1{
    color: #000;
    margin-bottom: 5px;
}
#youtubeActivity header span{
    color: #dd2826;
}
#youtubeActivity section{
    padding: 30px 20px 20px 20px;
}
#youtubeActivity footer{
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}
#youtubeActivity #search-form{
    padding-top:50px;
    display: block;
    margin-bottom: 15px;
}
#youtubeActivity .fieldContainer{
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
}
/*
#searchBtn:hover{
    filter: opacity(90);
    opacity: 0.9;
}
*/
#youtubeActivity .search-field{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 11px 7px;
    padding-right: 43px;
    background: #fff;
    color: #ccc;
    border: 1px solid #c8c8c8;
    font-size: 1.6em;
    border-bottom-color: #d2e2e7;
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;
}
#youtubeActivity #searchBtn{
    position: absolute;
    right: 20px;
    top: 5px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
    transform: scale(1);
/*    filter: opacity(65);*/
    opacity: 0.65;
    background: transparent url(./res/drawable/youtube_images/search.png) top left no-repeat;
}

#youtubeActivity #results{
    padding: 10px 0;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}
#youtubeActivity .list-left{
    float: left;
    padding: 10px;
    width: 300px;
    height: 300px;
}

#youtubeActivity .cTitle{
    color: #dd2826; 
}
#youtubeActivity .button-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width:300px;
    height:200px;
}
#youtubeActivity .paging-button{
    background: #f4f4f4;
    padding: 8px 13px;
    border-radius: 5px;
    color: #333;
    margin: 10px;
    cursor: pointer; 
}
</style>
<div id="container">
    
    <section>
        <form id="search-form" name="search-form">
            <div class="fieldContainer">
                <input type="search" id="query" class="search-field" placeholder="Search Youtube ...">
                <input type="submit" name="searchBtn" id="searchBtn" value="">
            </div>
        </form>
        <ul id="results"></ul>
        <div id="buttons"></div>
    </section>
    
</div>
