<!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js" ></script>-->
<!--<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
</script>-->


<style type ="text/css">
    #main {
        width: 100%;
        height: 100%;
        background-color: black;
    }

    #hot {
        margin-left: 20%; /*5*/
        margin-top: 8%;
        width: 90%;
        height: 65%;
        background-color: black;
        display: none;
    }

    #hotimg {
        width: 540px;
        height: 360px;
/*                background-size: cover;*/
        right: -33%;
        position: relative;
        z-index: 1;
        background-repeat: no-repeat;
        top: 6%;
    }

    #hottitle {
        width: 65%;
        height: 100%;
        float: left;
        position: relative;

    }

    h1 {
        z-index: 3;
        position: relative;
        margin-bottom: -5%;
        display: inline-block;
        width: 80%; 
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #hh {
        position: fixed; 
        left: 0px; 
        z-index: 1;       
        position: relative;
        color: white; width: 100%;
        opacity: 0.98; font-weight: bold;
    }

    #newsActivity img {
        width: 110%;
        height: 100%;
        z-index: 2;
        position: relative;
        margin-bottom: -65%;
        top: -150px;
    }

    a {
        text-decoration: none; color: white;
    }

    ul {
        z-index: 2;
        position: relative;
        margin-left: 7%;
        margin-top: 5%;
        font-size: 15px;
        list-style:none;
    }

    li {
        margin-top: 3%;
        margin-left: -6%;
    }

    #menu a
    {
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
    }

    #menu a:hover
    {
        color: tomato;
    }

    #menuToggle
    {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 4;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 5; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 4;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: white;   /* 메뉴 x바 색깔 */
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
    {
        position: absolute;
        width: 10%;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #6AAFDA; /*메뉴 전체 색깔*/
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu dl
    {
        padding: 10px 0;
        font-size: 25px;
        /*                color: white;*/
    }

    #menuToggle input:checked ~ dt
    {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }
</style>

<!--<div id="hh"> <marquee> <a href= "https://namu.wiki/w/%EB%84%88%EA%B5%AC%EB%A6%AC" target="_blank">
            ▶ 너구리는 개과의 포유동물이다.    
            ▶ 너구리속에 속하며 학명은 Nyct­ereutes procyonoides이다.    
            ▶ 몸길이 50-68㎝, 꼬리길이 13-20㎝로 몸통은 여우보다 작고 살이 쪘으며 다리는 비교적 짧고 입끝이 뾰족하다.  
            ▶ 귓바퀴는 작고 둥글며 꼬리는 굵고 짧다.  
            ▶ 몸빛깔은 대체로 검은색에 가깝고 등의 가운데선의 띠, 눈 밑의 반점, 앞다리의 띠는 검은색이 더욱 짙다.  
            ▶ 털은 길어서 등의 긴털은 9㎝나 된다.  
        </a> </marquee>
</div>-->

<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <dt id="menu">
            <a href="#"><dl id="RealTime">실시간</dl></a>
            <a href="#"><dl id="Politics">정치</dl></a>
            <a href="#"><dl>경제</dl></a>
            <a href="#"><dl>TV/연예</dl></a>
            <a href="#"><dl>스포츠</dl></a>
        </dt>
    </div>
</nav>

<div id="main">
    <div id="hot">
        <div id="hottitle">
            <h1><a href="" target="_blank"></a></h1>
            <img src="./res/drawable/news_images/back.png">
            <ul>
                <li></li>
            </ul>
        </div>
        <div id="hotimg" ></div>
    </div>
</div>