<style>
    #menuWidget {
        position: absolute;
        top: 0;
        right: 0;
        
        width: auto;
        height: 100%;
    }
    
    #menuWidget ul {
        list-style: none;
        
        padding: 0;
        margin: 0;

        transition: top 0.3s, right 0.8s;
    }

    #menuWidget li { 
        display: block;

        opacity: 0.3;
        font-size: 20pt;

        position: relative;

        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: 5px;

        float: right;
        clear: right;

        transition: all 0.3s;
    }

    #menuWidget img {
        width: 100%;
        height: 100%;
    }

    #menuWidget span { 
        position: absolute;
        top: 0;
        right: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
    }

    #menuWidget .mediumSize { 
        opacity: 0.7;
        font-size: 30pt;
        width: 150px;
        height: 150px;
        line-height: 150px;
    }

    #menuWidget .largeSize { 
        opacity: 1.0;
        font-size: 40pt;
        width: 250px;
        height: 250px;
        line-height: 250px;
    }
</style>
<ul>
</ul>