<style>
    
    #tutorialActivity .learnWrapper {
        padding: 100px 0;
        width: 800px;
        margin: 0 auto;
    }
    
    #tutorialActivity .learnDesc { 
        margin: 50px;
    }
    
    #tutorialActivity .learnDesc h1 {
        font-size: 50px;
        margin: 0 0 20px;
    }
    
    #tutorialActivity .learnDesc p {
        font-size: 25px;
    } 
    
    #tutorialActivity .learnStage { 
        overflow: hidden;
        width: 650px;
        height: 650px;
        margin: 50px auto;
    }
     
    #tutorialActivity .borderLine {
        height: 2px;
        width: 100%;
        background: #525252;
    }
    
</style>
<div class="learnWrapper">
    
</div>