<style>
    
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);
#musicActivity html, #musicActivity body {background-color: gray; font-family: Raleway, sans-serif;}
#musicActivity .wrap {background-color: orange; bottom: 0; display: flex; height: 400px; left: 0; margin: auto; position: absolute; right: 0; top: 0; width: 800px;}
#musicActivity audio {display: none;}
#musicActivity .player {background-color: transparentize(black, .5); color: white; flex-grow: 0; height: 100%; position: relative; width: 50%;}
#musicActivity .cover {background-image: linear-gradient(to bottom, transparentize(black, .25), transparentize(black, 1)); background-size: 100% 100%; height: 100%;}
#musicActivity .controls {display: flex; height: 13.33%; left: 17.5%; position: absolute; top: 5%; width: 65%;}
#musicActivity button { background-color: transparent;border: 2px solid white; border-radius: 50%; color: white; flex: 1 0 0; font-size: 150%; outline: none; width: 2.25em;}
#musicActivity & + button {margin-left: 5%;}
#musicActivity &:hover {background-color: white; color: black; cursor: pointer;}
#musicActivity &.pause {display: none;}
#musicActivity .volume {left: 2.5%; bottom: 12.5%; position: absolute;}
#musicActivity button {background-color: aqua; border: 2px solid white; border-radius: 50%; color: white; font-size: 150%; outline: none; width: 1.5em;}
#musicActivity & + button {margin-left: .25em;}
#musicActivity &:hover {background-color: white; color: black; cursor: pointer;}
#musicActivity .progress {-moz-appearance: none; -webkit-appearance: none; appearance: none; background-color: transparent; border: 0; bottom: 0; height: 10%; left: 0; position: absolute; width: 100%;}
#musicActivity &::-moz-progress-bar, #musicActivity &::-webkit-progress-value {background-color: white;}
#musicActivity &::-webkit-progress-bar {background-color: transparent;}
#musicActivity .timer {border: 3px solid white; border-radius: .75em; bottom: 0; font-family: Fira Mono; font-size: 250%; height: 1.5em; left: 0; line-height: 1.66em; margin: auto; position: absolute; right: 0; text-align: center; top: 0; width: 4em;}
#musicActivity .track-list {flex: 1 0 0; font-size: 1.25em;}
#musicActivity ul {counter-reset: trackCounter; list-style: none; margin: 0; padding: 0;}
#musicActivity .track-info {counter-increment: trackCounter; display: flex; padding: .5em;}
#musicActivity &:before {content: counter(trackCounter) "."; margin-right: .25em;}
#musicActivity &.active {color: white;}
#musicActivity .title:after {content: ">"; margin-left: .5em;}
#musicActivity &:nth-child(even) {background-color: transparentize(black, .75);}
#musicActivity &:hover {background-color: transparentize(black, .66); cursor: pointer;}
#musicActivity .title {flex: 7 0 0;}
#musicActivity .time {flex: 1 0 0; text-align: right;}

</style>

<div class="wrap">
 <div class="player">
  <audio class="audio-player" src=""></audio>
  <div class="cover"></div>
  <div class="controls">
   <button class="prev">
    <i class="fa fa-step-backward"></i>
   </button>
   <button class="play">
    <i class="fa fa-play">▶</i>
   </button>
   <button class="pause">
   <i class="fa fa-pause"></i>
   </button>
   <button class="stop">
   <i class="fa fa-stop"></i>
   </button>
   <button class="next">
   <i class="fa fa-step-forward"></i>
   </button>
  </div>
  <div class="timer">00:00</div>
  <div class="volume">
   <button class="volume-down">
   <i class="fa fa-volume-down"></i>
  </button>
   <button class="volume-up">
<i class="fa fa-volume-up"></i>
  </button>
  </div>
  <progress class="prog" value="0" min="0" max="100" step="1"></progress>
 </div>
 <div class="track-list">
  <ul>
   <li class="track-info active" data-url="http://tylergrund.com/mp3/Beatles/Penny%20Lane.mp3" data-cover="http://streamd.hitparade.ch/cdimages/the_beatles-penny_lane_s_5.jpg">
    <span class="title">Penny Lane</span>
    <span class="time"></span>
   </li>
   <li class="track-info" data-url="http://tylergrund.com/mp3/Beatles/Eleanor%20Rigby.mp3" data-cover="http://images.gibson.com/Lifestyle/English/aaFeaturesImages2008pt2/beatles%20yellow%20sub.jpg">
    <span class="title">Eleanor Rigby</span>
    <span class="time"></span>
   </li>
   <li class="track-info" data-url="http://tylergrund.com/mp3/Beatles/Strawberry%20Fields%20Forever.mp3" data-cover="http://k31.kn3.net/1AA44B39D.jpg">
    <span class="title">Strawberry Fields Forever</span>
    <span class="time"></span>
   </li>
   <li class="track-info" data-url="http://tylergrund.com/mp3/Beatles/Ticket%20to%20Ride.mp3" data-cover="http://streamd.hitparade.ch/cdimages/the_beatles-ticket_to_ride_s_4.jpg">
    <span class="title">Ticket to ride</span>
    <span class="time"></span>
   </li>
   <li class="track-info" data-url="http://tylergrund.com/mp3/Super_25ma_sm.mp3" data-cover="http://streamd.hitparade.ch/cdimages/the_beatles-ticket_to_ride_s_4.jpg">
    <span class="title">a</span>
    <span class="time"></span>
   </li>
  </ul>
 </div>
</div>
