<style type ="text/css">
    #screensaverActivity {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    #screensaverActivity ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        width: 100%;
        height: 100%;
    }
    
    #screensaverActivity li {
        position: relative;
        
        width: 100%;
        height: 100%;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #screensaverActivity li:first-child {
        width: 100%;
        height: 100%;
    }
</style>

<ul>
    <li style="background-image:url(./asset/drawable/activity_screensaver/0.jpg)"></li>
    <li style="background-image:url(./asset/drawable/activity_screensaver/1.jpg)"></li>
    <li style="background-image:url(./asset/drawable/activity_screensaver/2.jpg)"></li>
    <li style="background-image:url(./asset/drawable/activity_screensaver/3.jpg)"></li>
</ul>