<style type="text/css">
    
    #weatherActivity .current {
        position: relative;
        
        width: 100%;
        height: 800px;
    }
    
    #weatherActivity .current .wrap {
        display: table;
        
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        
        margin: auto;
        
        width: 500px;
        height: 300px
    }
    
    #weatherActivity .easy > * {
        display: table-cell;
        vertical-align: middle;
    }
    
    #weatherActivity .easy .temp {
        font-size: 90pt;
        font-style: normal;
        font-weight: bold;
    } 
    
    #weatherActivity .current .ozone {
        font-size: 25pt;
        text-align: center;
        font-weight: bold;
        line-height: 80px;
    } 
</style>

<div class="current">
    
    <div class="wrap">
        
        <div class="easy">
            <h1>
                <img width="256"/>
            </h1>

            <em class="temp">
            </em>
        </div>

        <p class="ozone">
        </p>
        
    </div>
    
</div>

<style type="text/css">
    #weatherActivity ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        width: 9999px;
    }
    
    #weatherActivity li {
        float: left;
    }
    
    #weatherActivity .dayOfWeek,
    #weatherActivity .hourMinutes {
        display: block;
        text-align: center;
    }
    
    #weatherActivity img {
        display: block;
        
        width: 150px;
    }
    
    #weatherActivity .temp {
        display: table;
        width: 100%;
        text-align: center;
    }
    
    #weatherActivity .temp > * {
        display: table-cell;
        font-size: 13pt;
        font-style: normal;
    }
    
    #weatherActivity .hourly,
    #weatherActivity .weekly { 
        margin: 50px 0;
    }
</style>

<div class="hourly">
    <ul class="clearFix">
        <li>
            <span class="hourMinutes">토요일</span>
            
            <img src="./asset/drawable/activity_weather/ic_cloudy.png" width="150"/>
            
            <div class="temp">
                <em>24.6</em>
            </div>
        </li>
    </ul>
</div>

<div class="weekly">
    <ul class="clearFix">
        <li>
            <span class="dayOfWeek">토요일</span>
            
            <img src="./asset/drawable/activity_weather/ic_cloudy.png" width="150"/>
            
            <div class="temp">
                <em class="maxTemp">24.6</em>
                <em class="minTemp">24.6</em>
            </div>
        </li>
    </ul>
</div>