<style type="text/css">
    
    #weatherActivity .currentWeather {
        position: relative;
        
        width: 100%;
        height: 50vh;
    }
    
    #weatherActivity .currentWeather > div {
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        
        margin: auto;
        
        width: 500px;
        height: 350px
    }
    
    #weatherActivity .easyToSeeWeather {
        display: table; 
    }
    
    #weatherActivity .easyToSeeWeather > * {
        display: table-cell;
        vertical-align: middle;
    }
    
    #weatherActivity .easyToSeeWeather .weatherTemp {
        font-size: 90pt;
        font-style: normal;
        font-weight: bold;
    } 
    
    #weatherActivity .currentWeather .ozoneComment {
        font-size: 25pt;
        text-align: center;
        font-weight: bold;
        line-height: 80px;
    } 
</style>

<div class="currentWeather">
    
    <div>
        
        <div class="easyToSeeWeather">
            <h1>
                <img width="256"/>
            </h1>

            <em class="weatherTemp">
                
            </em>
        </div>

        <p class="ozoneComment">
        </p>
        
    </div>
    
</div>

<style type="text/css">
    #weatherActivity ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        width: 9999px;
    }
    
    #weatherActivity li {
        float: left;
    }
    
    #weatherActivity .dayOfWeek,
    #weatherActivity .hourMinutes {
        font-size: 20pt;
        display: block;
        text-align: center;
    }
    
    #weatherActivity img {
        display: block;
        
        width: 150px;
    }
    
    #weatherActivity .weatherTemp {
        display: table;
        width: 100%;
        text-align: center;
    }
    
    #weatherActivity .weatherTemp > * {
        display: table-cell;
        font-size: 13pt;
        font-style: normal;
    }
    
    #weatherActivity .weatherHourly,
    #weatherActivity .weatherWeekly { 
        padding: 50px 0;
        height: 25vh;
        box-sizing: border-box;
    }
</style>

<div class="weatherHourly">
    <ul class="clearFix">
        <!--
        <li>
            <span class="hourMinutes">토요일</span>
            
            <img src="./asset/drawable/activity_weather/ic_cloudy.png" width="150"/>
            
            <div class="temp">
                <em>24.6</em>
            </div>
        </li>
        -->
    </ul>
</div>

<div class="weatherWeekly">
    <ul class="clearFix">
        <!--
        <li>
            <span class="dayOfWeek">토요일</span>
            
            <img src="./asset/drawable/activity_weather/ic_cloudy.png" width="150"/>
            
            <div class="temp">
                <em class="maxTemp">24.6</em>
                <em class="minTemp">24.6</em>
            </div>
        </li>
        -->
    </ul>
</div>