<style type ="text/css">
    #screenSaverActivity {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    #screenSaverActivity ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
        
        width: 100%;
        height: 100%;
    }
    
    #screenSaverActivity li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #screenSaverActivity li:first-child {
        width: 100%;
        height: 100%;
    }
</style>

<ul>
    <li style="background-image:url(./asset/drawable/activity_screen_saver/0.jpg)"></li>
    <li style="background-image:url(./asset/drawable/activity_screen_saver/1.jpg)"></li>
    <li style="background-image:url(./asset/drawable/activity_screen_saver/2.jpg)"></li>
    <li style="background-image:url(./asset/drawable/activity_screen_saver/3.jpg)"></li>
    <li style="background-image:url(./asset/drawable/activity_screen_saver/4.jpg)"></li>
    <li style="background-image:url(./asset/drawable/activity_screen_saver/5.jpg)"></li>
</ul>

<img src="./asset/drawable/ic_logo.png"/>