<style>
    #timerActivity em {
        font-size: 100px;
        font-style: normal;
        position: absolute;
        top: 0;
        width: 100%;
        display: block;
        text-align: center;
        height: 150px;
        line-height: 150px;
        bottom: 0;
        margin: auto;
        font-family: 'Spoqa Han Sans';
    }
    
    #timerActivity i {
        display: block;
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        left: 0;
        background: rgba(255, 255, 255, 0.2);
    }
</style>

<i></i>
<em>00:00</em>