<style>
    
    #tutorialActivity .learnWrapper {
        width: 100%;
        margin: 100px auto;
    }
    
    #tutorialActivity .learnDesc { 
        padding: 50px 100px 0;
    }
    
    #tutorialActivity .learnDesc h1 {
        font-size: 50px;
        margin: 0 0 20px;
    }
    
    #tutorialActivity .learnDesc p {
        font-size: 25px;
    } 
    
    #tutorialActivity .learnStage { 
        overflow: hidden;
        width: 550px;
        height: 550px;
        margin: 50px auto;
    }
    
</style>
<div class="learnWrapper">
    
</div>