<style>
    
    #tutorialActivity .learnWrapper {
        display: table;
        padding: 170px 0;
        min-height: 400px;
        margin: 0 auto;
    }
    
    #tutorialActivity .learnWrapper > div {
        display: table-cell;
        vertical-align: top;
    }
    
    #tutorialActivity .learnDesc {
        width: 470px;
        padding: 20px 100px 0;
    }
    
    #tutorialActivity .learnDesc h1 {
        font-size: 50px;
        margin: 0 0 20px;
    }
    
    #tutorialActivity .learnDesc p {
        font-size: 25px;
    } 
    
    #tutorialActivity .learnStage { 
        overflow: hidden;
        width: 630px;
        padding: 20px 100px 0;
    }
     
    #tutorialActivity .borderLine {
        width: 2px;
        background: #525252;
    }
    
</style>
<div class="learnWrapper">
    
</div>