<style> 
    #notifyWidget {
        position: absolute;
        z-index: 5000;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 450px;
        height: 300px;
        overflow: hidden;
        font-size: 20px;
    }
    
    #notifyWidget h1 {
        font-size: 50px;
        text-align: center;
    }
    
    #notifyWidget ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
</style>
<h1>알림메세지</h1>
<ul>
    <li></li>
</ul>