<style>
    #wikiWidget { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        z-index: 9999 !important;
        background: rgba(0,0,0,0.8)
    }
    
    #wikiWidget ul {
        list-style: decimal;
        padding: 0;
        margin: 0 0 0 20px;
        font-size: 12px;
    }
    
    #wikiWidget li {
        margin: 10px 0; 
    }
    
    #wikiWidget h1 {
        font-size: 20px;
    }
    
    #wikiWidget em {
        font-style: normal;
    }
    
    #wikiWidget > div {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 85%;
        height: 350px;
        margin: auto;
    } 
</style> 

<div>
    <h1>
        
    </h1>

    <p>
        그 외 "<em></em>"의 다른정보 입니다.
    </p>

    <ul>
        
    </ul> 
</div>