<style> 
    #notifyWidget {
        position: absolute;
        z-index: 5000;
        top: 170px;
        left: 0;
    }
    
    #notifyWidget ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        font-size: 25px;
    }
     
    #notifyWidget li {
        margin-bottom: 5px;
    }
    
    #notifyWidget li > * {
        vertical-align: middle;
    }
    
    #notifyWidget span {
        display: inline-block;
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    #notifyWidget img {
        width: 30px;
        height: 30px;
    }
     
    #notifyWidget em {
        font-style: normal;
        color: #6f6f6f;
    }
    
    #notifyWidget li > * {
        float: left;
        font-size: 30px;
        vertical-align: middle; 
        margin: 0 5px 0 0;
        display: block;
    }
</style> 
<ul>
    <li>&nbsp;</li>
    <li class="clearFix">
        <img />
        <h1>
            한지호
        </h1>
        <p>
            하하하하하하하하하하하하하하하하
        </p>
        <em>1분전</em>
    </li>
</ul>