<style>
    #weatherWidget * {
        margin: 0;
        padding: 0;
        
        vertical-align: middle; 
    }
    
    #weatherWidget {
        position: absolute;
        top: 0;
        right: 0;
        
        display: table;
        
        font-size: 25px;
    }
    
    #weatherWidget h1,
    #weatherWidget p {
        display: table-cell;
    }
    
    #weatherWidget p {
        width: 150px;
    }
    
    #weatherWidget em { 
        display: block;
        font-style: normal;
    }
    
    #weatherWidget img {
        -webkit-filter:brightness(5000%);
    }
</style> 
<h1>
    <img width="100">
</h1>
<p>
    <em class="weatherTemp"></em>
    <em class="precipProbabl"></em>
</p>