<style> 
    #notifyWidget {
        position: absolute;
        z-index: 5000;
        top: 170px;
        left: 0;
    }
    
    #notifyWidget ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        font-size: 25px;
    }
     
    #notifyWidget li {
        margin-bottom: 5px;
    }
    
    #notifyWidget li > * {
        vertical-align: middle;
    }
    
    #notifyWidget span {
        display: inline-block;
        width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
     
    #notifyWidget em {
        font-style: normal;
        color: #6f6f6f;
    }
</style> 
<ul>
    <li> 
        <span>하하하하하하하하하하하하하하하하</span>
        <em>1분전</em>
    </li>
    <li> 
        <span>하하하하</span>
        <em>1분전</em>
    </li>
    <li> 
        <span>하하하하</span>
        <em>1분전</em>
    </li>
    <li> 
        <span>하하하하</span>
        <em>1분전</em>
    </li>
</ul>