<style> 
    #clockWidget {
        position: absolute;
        top: 0px;
        left: 0;
        font-family: 'Open Sans', sans-serif; 
        
        transition: left 0.5s;
    }
    
    #clockWidget .currentTime .hoursMinutes {
        font-size: 70px;
        line-height: 60px;
        display: inline-block;
        transition: font-size 0.5s;
    } 
    
    #clockWidget .seconds {
        opacity: 1;
        vertical-align: bottom;
        font-size: 25px;
        
        transition: opacity 0.5s;
    }
    
    #clockWidget .currentDate { 
        font-size: 25px;
    } 
    
    #clockWidget.shownSmall .currentDate,
    #clockWidget.shownSmall .seconds {
        opacity: 0;
        display: none;
    }
    
    #clockWidget.shownSmall .hoursMinutes { 
        font-size: 50px;
        line-height: normal;
    } 
    
    #clockWidget .currentTime {
        position: absolute;
        top: 30px;
        
        transition: top 0.5s;
    }
    
    #clockWidget.shownSmall .currentTime {
        top: 0;
    }
    
</style>
<div class="currentDate">
    2017년 4월 17일, 월요일
</div>
<div class="currentTime">
    <span class="hoursMinutes">00:00</span>
    <span class="seconds">00</span>
</div>