<style>
    #weatherWidget * {
        margin: 0;
        padding: 0;
        
        vertical-align: middle; 
    }
    
    #weatherWidget {
        position: absolute;
        top: 0;
        right: 0;
        
        display: table;
        
        font-size: 35px;
        font-weight:bold;
    }
    
    #weatherWidget h1,
    #weatherWidget p {
        display: table-cell;
    }
    
    #weatherWidget p {
        width:150px;
    }
    
    #weatherWidget em {
        width: 250px;
        display: block;
        font-style: normal;
    }
</style> 
<h1>
    <img width="150">
</h1>
<p>
    <em class="temp"></em>
    <em class="precipProbabl"></em>
</p>