<style type="text/css">
    
    #tutorialActivity .learnStage {
        position: relative;
    }
    
    #tutorialActivity .scrollWrapper {
        width: 9999px;
        position: absolute;
    }
    
    #tutorialActivity .scrollWrapper > div * {
        width: 150px;
        height: 150px;
        
        background: red;
        float:left;
        
        margin: 10px;
    }
    
    #tutorialActivity .scrollWrapper > div {
        float: left;
    } 
</style>

<div class="learnDesc">
    <h1>
        2단계, 드래그
    </h1>
    <p>
        커서모드 활성화 후 주먹을 쥐고<br/>
        상하, 좌우를 흔들어 보세요.<br/>
    </p>
</div>

<div class="borderLine">
</div>

<div class="learnStage">

    <div class="scrollWrapper">
        
        <div>
            <div></div>
            <div></div>
            <div style="clear:left"></div>
            <div></div>
        </div>

        <div>
            <div></div>
            <div style="clear:left"></div>
        </div>

        <div>
            <div style="width: 320px"></div>
            <div></div>
            <div style="clear:left"></div>
            <div style="width: 320px"></div>
        </div>

        <div>
            <div></div> 
            <div style="clear:left"></div>
        </div>

        <div>
            <div style="width: 320px"></div>
            <div style="width: 320px; clear:left"></div>
        </div>
        
        <div>
            <div></div>
            <div></div>
            <div style="clear:left"></div>
            <div></div>
        </div>
    </div>

</div>