<style type="text/css">
    
    #tutorialActivity .learnStage div {
        width: 150px;
        height: 150px;
        
        background: red;
        
        margin: 0 50px 50px 0;
        
        float:left;
    }
    
    #tutorialActivity .learnStage div:nth-child(3n+1) {
        clear:left; 
    }
    
    #tutorialActivity .learnStage div:nth-child(3n) { 
        margin-right: 0;
    }
    
    #tutorialActivity .learnStage .targetObject {
        background: blue !important;
    }
</style>

<div class="learnDesc">
    <h1>
        1단계, 무빙
    </h1>
    <p>
        오른손을 어깨높이 만큼 들면<br/>
        커서모드가 활성화 됩니다.<br/>
        <br/>
        3 X 3 퍼즐에서 파란색 영역을 갖다대면<br/>
         무빙학습을 할수 있습니다.<br/>
    </p>
</div>

<div class="learnStage">

    <div></div>
    <div></div>
    <div></div>
    
    <div></div>
    <div></div>
    <div></div>
    
    <div></div>
    <div></div>
    <div></div>

</div>